# 微信小程序配置
# 请在微信公众平台获取：https://mp.weixin.qq.com

# 小程序AppID
WECHAT_APP_ID=your_app_id_here

# 小程序AppSecret
WECHAT_APP_SECRET=your_app_secret_here

# 订阅消息模板ID
SUBSCRIBE_TEMPLATE_ID=your_template_id_here
